* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #121214;
}

ul {
  li {
  }
}

button {
  background: red;
  border: 0;
  padding: 20px;
  color: #fff;
  font-size: 18px;
}
